@import 'variables';

.product-tabs {
    max-width: 1386px;
    margin: 0 auto;
    font: normal normal 500 42px/63px Roboto;
    font-variant-caps: all-petite-caps;
    li {
        padding: 24px auto;
        border: 1px solid $secondary-gray-color;
        width: 34%;
        &.selected {
            border-bottom: 16px solid $primary-theme-color;
        }
    }
}

.product-banner {
    height: 309px;
    .banner-left {
        width: 50%;
        height: 100%;
        background: center / cover no-repeat url("https://hexschool.github.io/webLayoutTraining1st/week3/banner-1.png");
    }
    .banner-right {
        width: 50%;
        height: 100%;
        background: center / cover no-repeat url("https://hexschool.github.io/webLayoutTraining1st/week3/banner-2.png");
    }
}

.product-details {
    padding-top: 88px;
    h2 {
        font: normal normal 500 42px/63px Roboto;
    }
    h3 {
        font: normal normal normal 32px/48px "Noto Sans";
    }
}

.product-item-list {
    @include wrap-n-column(4, 30, 1110); 
    li {
        margin-bottom: 104px;
        text-align: left;
    }

    .pic-container {
        width: 100%;
        height: 164px;
        overflow: hidden;
        img {
            width: 100%;
        }
    }

    .price {
        color: $secondary-text-color;
        font: normal normal 500 24px/36px Roboto;
    }

    .name {
        font: normal normal normal 24px/36px Roboto;
    }
}

.btn-group {
    display: inline-flex;
    align-items: stretch;
    color: $primary-gray-color;
    font: normal normal normal 18px/27px Roboto;

    a {
        color: $primary-gray-color;
        display: block;
        border: 1px solid $primary-gray-color;
        padding: 11px 16px;
    }

    li:first-child a, li:last-child a{
        font: normal normal normal 19px/29px "Noto Sans";
        padding: 10px 12px;
    }

    .selected a{
        background: #000;
        color: #ffffff;
    }
    li:hover a {
        background: $secondary-background-color;
    }
}

/* ------ for tablet ----- */
@media screen and (max-width: 992px) {

    /* product details */
    .product-tabs {
        font: normal normal 500 28px/42px Roboto;
        font-variant-caps: all-petite-caps;

        li {
            padding: 16px auto;
            &.selected {
                border-bottom: 8px solid $primary-theme-color;
            }
        }
    }
    .product-details {
        padding-top: 40px;
        h2 {
            font-size: 32px;
            line-height: 48px;
        }
        h3 {
            font-size: 24px;
            line-height: 36px;
        }
        .price, .name {
            font-size: 24px;
            line-height: 30px;
        }
    }

    .product-item-list {
        @include wrap-n-column(2, 30, 690);
        li {
            margin-bottom: 72px;
        }
    }
}

/* for smartphone */
@media screen and (max-width: 768px) {

    /* product details */
    .product-banner {
        height: 144px;
    }

    .product-tabs {
        font: normal normal 500 14px/19px Roboto;
        font-variant-caps: all-petite-caps;

        li {
            padding: 8px auto;
            &.selected {
                border-bottom: 4px solid $primary-theme-color;
            }
        }
    }
    .product-details {
        padding-top: 20px;
        h2 {
            font-size: 20px;
        }
        h3 {
            font-size: 16px;
        }
        .price, .name {
            font-size: 16px;
        }
    }

    .product-item-list {
        @include wrap-n-column(1, 0, 345);
        li {
            margin-bottom: 32px;
        }
    }

    .btn-group {
        font: normal normal normal 11px/17px Roboto;
        li:first-child a, li:last-child a{
            font: normal normal normal 12px/19px Roboto;
        }
    }
}
