.blog-header {
    padding-top: 12px;
    padding-bottom: 14px;
    font: normal normal bold 20px/24px "Noto Sans";

    &.primary-theme {
        background: $primary-color-dark;
    }
}

.blog-list {
    @include list-gap(60px);
    text-align: left;
    padding-top: 82px;

    &>li {
        display: flex;
    }

    img {
        width: 57%;
        height: auto;
        flex-shrink: 0;
        margin-right: 30px;
    }

    h2 {
        font: normal normal normal 32px/63px "Noto Sans";
        color: $secondary-text-color;
    }

    h3 {
        font: normal normal 500 20px/30px Roboto;
    }

    p {
        font: normal normal normal 20px/30px "Noto Sans";
        color: $primary-gray-color;
    }

    .desc {
        position: relative;
    }
    .date {
        font: normal normal 500 16px/24px Roboto;
        opacity: 0.7;
    }

    .subtitle {
        margin-bottom: 24px;
    }

    .more {
        position: absolute;
        bottom: 0;
        right: 0;
        font: normal normal 900 36px/54px "Noto Sans";
        color: $secondary-text-color;
        &:hover {
            color: $primary-theme-color;
        }
    }
}

.tags {
    color: $primary-theme-color;
    font: normal normal bold 24px/36px Roboto;
    a {
        color: $primary-theme-color;
    }
    .title {
        font: normal normal bold 28px/42px Roboto;
        margin-bottom: 12px;
    }
}

.tag-list {
    &>li {
        margin-right: 24px;
        margin-bottom: 8px;
    }
}

.tag-list-row {
    &>li {
        margin-right: 24px;
    }
}

.breadcrumb {
    font: normal normal normal 16px/21px "Noto Sans";
    .current {
        color: $primary-theme-color;
    }
}

.blog-artical {
    font: normal normal bold 20px/30px "Noto Sans";
    img {
        width: 100%;
        margin-bottom: 24px;
    }

    .left {
        width: 74%;
        margin-right: 30px;
    }
    .right {
        width: 24%;
    }

    h2 {
        font: normal normal normal 48px/67px "Noto Sans";
    }
    h3 {
        font: normal normal 500 28px/42px Roboto;
    }
    p {
        font: normal normal bold 20px/30px "Noto Sans";
        margin-bottom: 36px;
        opacity: 0.6;
    }
    
    .date {
        font: normal normal 500 16px/24px Roboto;
        opacity: 0.7;
    }
    .subtitle {
        margin-bottom: 23px;
    }
}

.artical-footer {
    color: #0A0A0A;
    .footer-lower {
        font: normal normal normal 19px/30px "Noto Sans";
        border-top: 1px solid #707070;
        padding-top: 24px;
        margin-top: 16px;

        li:first-child .icon-24 {
            margin-right: 8px;
        }
        li:last-child .icon-24 {
            margin-left: 8px;
        }
    }
}

/* ------ for tablet ----- */
@media screen and (max-width: 992px) {
    .blog-header {
        font-size: 16px;
    }

    .blog-list {
        @include list-gap(32px);
        padding-top: 40px;

        img {
            width: 48%;
        }
        h2 {
            font-size: 20px;
            line-height: 28px;
        }
        h3 {
            font-size: 16px;
            line-height: 21px;
        }
        p {
            font-size: 14px;
            line-height: 21px;
        }
        .date {
            font-size: 14px;
        }
        .more {
            font-size: 14px;
            line-height: 21px;
            color: $primary-gray-color;
            font-variant-caps: all-small-caps;
        }
        .subtitle {
            margin-bottom: 16px;
        }
    }
    .breadcrumb {
        font-size: 14px;
        line-height: 21px;
    }

    .tags {
        font-size: 16px;
        line-height: 20px;
        .icon {
            margin-right: 0;
        }
        .title {
           font-size: 20px; 
           line-height: 26px;
           margin-bottom: 6px;
        }
    }
    .tag-list {
        &>li {
            margin-bottom: 0;
        }
    }

    .blog-artical {
        img {
            margin-bottom: 16px;
        }
        h2 {
            font-size: 32px;
        }
        h3 {
            font-size: 16px;
        }
        .date{
            font-size: 14px;
        }
        p {
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 24px;
        }
        .subtitle {
            margin-bottom: 16px;
        }
    }

    .artical-footer {
        font-size: 16px;
        margin-bottom: 31px;

        .footer-lower {
            padding-top: 16px;
            font-size: 14px;

            li {
                margin-bottom: 8px;
            }
        }
        .icon-24 {
            width: 20px;
            height: 20px;
        }
    }
}

/* for smartphone */
@media screen and (max-width: 768px) {
    .blog-header {
        @include nav(24px);
    }
    .blog-list {
        @include list-gap(26px);
        padding-top: 24px;

        img {
            width: 100%;
            @include hoverOpacity; 
        }

        &>li {
            flex-direction: column;
        }
        h2 {
            font-size: 16px;
        }
        h3 {
            font-size: 14px;
        }
        .subtitle {
            margin-bottom: 0;
        }
    }

    .tags {
        .icon {
            width: 24px;
            height: 24x;
        }
    }
    .blog-artical {
        flex-direction: column;
        .left {
            width: 100%;
            margin-right: 0;
        }
        .right {
            width: 100%;
        }
    }

    .artical-footer {
        .footer-lower {
            flex-direction: column;
            align-items: start;

            padding-top: 8px;

            .row-reverse {
                flex-direction: row;
            }

            li:last-child .icon-24 {
                margin-left: 0;
                margin-right: 8px;
            }
        }

        .icon-24 {
            width: 14px;
            height: 14px;
        }
    }
}