@mixin banner-pic($url) {
    width: 50%;
    height: 100%;
    background: center / cover no-repeat url($url); 
}

@mixin product-item-list($row_n, $font, $line_height, $pic_height, $margin) {
    @include wrap-n-column($row_n, 30, 1110); 
    li {
        margin-bottom: $margin;
        text-align: left;

        &:hover {
            img, .price, .name {
                opacity: 0.7;
            }
        }
    }

    .pic-container {
        width: 100%;
        height: $pic_height;
        overflow: hidden;
        img {
            width: 100%;
        }
    }

    .price {
        color: $primary-theme-color;
        font: normal normal 500 #{$font}/#{$line_height} Roboto;
        margin-bottom: 8px;
    }

    .name {
        font: normal normal normal #{$font}/#{$line_height} Roboto;
        margin-bottom: 11px;
    } 

    .price, .name {
        @include pad {
            font-size: 24px;
            line-height: 30px;
        }
        @include phone {
            font-size: 16px;
        }
    }
}

.product-tabs {
    max-width: 1386px;
    margin: 0 auto;
    font: normal normal 500 42px/55px Roboto;
    font-variant-caps: all-petite-caps;

    @include phone {
        font: normal normal 500 14px/19px Roboto;
    }

    li {
        border: 1px solid $secondary-gray-color;
        width: 34%;
        
        a {
            display: block;
            padding: 24px 0;
            @include pad {
                padding: 16px 0;
            }
            @include phone {
                padding: 8px 0;
            }
        }

        &.selected a, &:hover a{
            border-bottom: 16px solid $primary-theme-color;
            @include pad {
                border-bottom: 8px solid $primary-theme-color;
            }
            @include phone {
                border-bottom: 4px solid $primary-theme-color;
            }
        }
    }
}

.product-banner {
    height: 309px;

    @include phone {
        height: 144px;
    }

    .banner-left {
        @include banner-pic("https://hexschool.github.io/webLayoutTraining1st/week3/banner-1.png");
    }
    .banner-right {
        @include banner-pic("https://hexschool.github.io/webLayoutTraining1st/week3/banner-2.png");
    }
}

.product-banner-sunglasses {
    height: 309px;
    .banner-left {
        @include banner-pic("https://hexschool.github.io/webLayoutTraining1st/week3/banner-3.png");
    }
    .banner-right {
        @include banner-pic("https://hexschool.github.io/webLayoutTraining1st/week3/banner-2.png");
    }
}

.product-details {
    padding-top: 88px;
    @include pad {
        padding-top: 40px;
    }
    @include phone {
        padding-top: 20px;
    }

    h1 {
        font: normal normal 500 42px/63px Roboto;
        @include pad {
            font-size: 32px;
            line-height: 48px;
        }
        @include phone {
            font-size: 20px;
        }
    }
    h3 {
        font: normal normal normal 32px/48px "Noto Sans";
        @include pad {
            font-size: 24px;
            line-height: 36px;
        }
        @include phone {
            font-size: 16px;
        }
    }
}

.product-item-list-4r {
    @include product-item-list(4, 24px, 36px, 164px, 104px);
}

.product-item-list-3r {
    @include product-item-list(3, 18px, 30px, 224px, 112px);
    // disalbe row-btw-center
    .row-btw-center {
        flex-direction: column;
        justify-content: center;
        align-items: start;

        @include pad {
            flex-direction: row;
            align-items: center;
        }
    }
} 

.product-item-list-4r, .product-item-list-3r {
    @include pad {
        @include wrap-n-column(2, 30, 690);
        li {
            margin-bottom: 72px;
        }
        .pic-container {
            height: 164px;
        }
    }
    @include phone {
        @include wrap-n-column(1, 0, 345);
        li {
            margin-bottom: 32px;
        }
    }
}

