
<div class="blog-header primary-theme <%- options -%>">
  <div class="container row-btw-center">
    <ul class="nav nav-p-48">
      <li><a href="#">最新消息</a></li>
      <li><a href="#">特別企劃</a></li>
      <li><a href="#">新品上市</a></li>
      <li><a href="#">鏡框小知識</a></li>
    </ul>
    <div class="icon-24 icon-search not-small"></div>
  </div>
</div>