<div class="pic-banner">
  <div class="container h100 row-start-bottom">
    <div class="row-start-center">
      <h1 class="mr-24"><%- title -%></h1>
      <div class="icon-lg icon-location"></div>
    </div>
  </div>
</div>