@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;700;900&display=swap');

/* base */
img {
    display: block;
    max-width: 100%;
}

*, *:before, *:after {
    box-sizing: border-box;
}

:root {
    font-family: "Roboto", "Noto Sans";
}

a {
    text-decoration: none;
    color: $primary-text-color;
}
/* container */
.container {
    max-width: 1110px;
    margin: 0 auto;
}

.container-p30 {
    max-width: 1140px; // including margin for flex wrapping
    margin: 0 auto;
}

.container-sm {
    max-width: 730px;
    margin: 0 auto;
}

.pic-banner{
    background: center / cover no-repeat url("../images/pic-banner.png");
    height: 304px;
    h1 {
        font: normal normal bold 64px/80px "Noto Sans";
    }
    padding-bottom: 8px;
}

/* navs */
.nav-p-64 {
    @include nav(64px);
}

.nav-p-48 {
    @include nav(48px);
}

.nav-p-32 {
    @include nav(32px);
}

.nav-p-30 {
    @include nav(30px);
}

.nav-p-0 {
    @include nav;
}

/* layouts */
.row {
    display: flex;
}

.row-start-center {
    display: flex;
    align-items: center;
}

.row-start-end {
    display: flex;
    align-items: center;
}

.row-reverse {
    display: flex;
    flex-direction: row-reverse;
}

.row-reverse-center {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.row-btw {
    display: flex;
    justify-content: space-between;
}

.row-btw-baseline {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.row-end {
    display: flex;
    justify-content: end;
    align-items: flex-end;
}

.row-btw-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row-start-bottom {
    display: flex;
    align-items: flex-end;
}

.row-wrap {
    display: flex;
    flex-wrap: wrap;
}

/* list gaps */
.list-gap-32 {
    @include list-gap(32px);
}

.list-gap-16 {
    @include list-gap(16px);
}

/* buttons */
a.btn {
    display: block;
}

.btn {
    text-align: center;
    margin: 0 auto;
}

.btn-primary {
    display: block;
    border: none;
    background-color: $primary-theme-color;
    color: $dark-text-color;
    &:hover {
        background-color: $primary-color-dark;
    }
}

.btn-black{
    display: block;
    border: none;
    background-color: #000000;
    color: $dark-text-color;
    &:hover {
        background-color: $primary-theme-color;
    }
}

.btn-group {
    display: inline-flex;
    align-items: stretch;
    color: $primary-gray-color;
    font: normal normal normal 18px/27px Roboto;

    a {
        color: $primary-gray-color;
        display: block;
        border: 1px solid $primary-gray-color;
        padding: 11px 16px;
    }

    li:first-child a, li:last-child a{
        font: normal normal normal 19px/29px "Noto Sans";
        padding: 10px 12px;
    }

    .selected a{
        background: #000;
        color: #ffffff;
    }
    li:hover a {
        background: $secondary-background-color;
    }
}

/* font & padding & margin styles */
$properties: (
    "mt" : margin-top,
    "mb" : margin-bottom,
    "ml" : margin-left,
    "mr" : margin-right,
    "pt" : padding-top,
    "pb" : padding-bottom,
    "pl" : padding-left,
    "pr" : padding-right,
    "lh" : line-height,
    "fz" : font-size,
);

@each $key, $value in $properties {
    @for $i from 1 through 50 {
        $size: $i * 2;
        .#{$key}-#{$size} {
            #{$value}: #{$size}px;
        }
    }
}

.mb-104 {
    margin-bottom: 104px;
}

.mb-304 {
    margin-bottom: 304px;
}

/* other style */
.primary-theme {
    background: $primary-theme-color;
    color: $dark-text-color;

    a {
        color: $dark-text-color;
        &:hover {
            color: $primary-text-color;
        }
    }
}

.support-bg-color {
    background-color: $secondary-background-color;
}

.upper-line {
    border-top: 1px solid $dark-text-color;
}

.text-center {
    text-align: center;
}

.h100 {
    height: 100%;
}

.fill-vertical {
    max-height: 100%;
}

/* ========= RWD ======== */
.small-only {
    display: none;
}

/* ------ for tablet ----- */
@media screen and (max-width: 992px) {
    .container {
        max-width: 690px;
    }

    .container-p30 {
        max-width: 730px;
    }

    .container-sm {
        max-width: 450px;
    }

    /* pic banner */
    .pic-banner {
        margin-bottom: 0;
        h1 {
            font: normal normal bold 48px/80px "Noto Sans";
        }
    }

    
    /* padding & margin */
    .list-gap-32 {
        @include list-gap(8px);
     }
     .list-gap-16 {
         @include list-gap(8px);
     }
     .nav-p-64 {
         @include nav(40px);
     }
     .nav-p-48 {
         @include nav(32px);
     }
     .nav-p-32 {
         @include nav(24px);
     }
     .nav-p-30 {
         @include nav;
     }
     .mt-40 {
         margin-top: 32px;
     }
     .mb-42 {
         margin-bottom: 24px;
     }
     .mb-304 {
         margin-bottom: 104px;
     }

     /* fonts */
    .fnt-20-l-30 {
        font-size: 16px;
        line-height: 24px;
    }

    /* display */
    .large-only {
        display: none;
    }

    .small-only {
        display: none;
    }
}

/* for smartphone */
@media screen and (max-width: 768px) {
    .container, .container-sm, .container-p30 {
        max-width: 345px;
    }

    /* padding & margin */
    .mb-104 {
        margin-bottom: 56px;
    }
    .mb-304 {
        margin-bottom: 56px;
    }
    .mb-36 {
        margin-bottom: 12px;
    }

    /* fonts */
    .fnt-16-l-24 {
        font-size: 14px;
        line-height: 21px;
    }

    .fnt-20-l-30 {
        font-size: 16px;
        line-height: 24px;
    }

    /* display control */
    // add !important fo prevent further styles settings
    // overriding final RWD operations
    .small-only {
        display: block !important;
    }
   
    .not-small {
        display: none !important;
    }

    /* botton */
    .btn-group {
        font: normal normal normal 11px/17px Roboto;
        li:first-child a, li:last-child a{
            font: normal normal normal 12px/19px Roboto;
        }
    }
}

