@mixin banner-pic($url) {
    width: 50%;
    height: 100%;
    background: center / cover no-repeat url($url); 
}

@mixin product-item-list($row_n, $font, $line_height, $pic_height, $margin) {
    @include wrap-n-column($row_n, 30, 1110); 
    li {
        margin-bottom: $margin;
        text-align: left;
    }

    .pic-container {
        width: 100%;
        height: $pic_height;
        overflow: hidden;
        img {
            width: 100%;
        }
    }

    .price {
        color: $secondary-text-color;
        font: normal normal 500 $font/$line_height Roboto;
        margin-bottom: 8px;
    }

    .name {
        font: normal normal normal $font/$line_height Roboto;
        margin-bottom: 11px;
    } 
}

.product-tabs {
    max-width: 1386px;
    margin: 0 auto;
    font: normal normal 500 42px/63px Roboto;
    font-variant-caps: all-petite-caps;
    li {
        padding: 24px auto;
        border: 1px solid $secondary-gray-color;
        width: 34%;
        &.selected {
            border-bottom: 16px solid $primary-theme-color;
        }
    }
}

.product-banner {
    height: 309px;
    .banner-left {
        @include banner-pic("https://hexschool.github.io/webLayoutTraining1st/week3/banner-1.png");
    }
    .banner-right {
        @include banner-pic("https://hexschool.github.io/webLayoutTraining1st/week3/banner-2.png");
    }
}

.product-banner-sunglasses {
    height: 309px;
    .banner-left {
        @include banner-pic("https://hexschool.github.io/webLayoutTraining1st/week3/banner-3.png");
    }
    .banner-right {
        @include banner-pic("https://hexschool.github.io/webLayoutTraining1st/week3/banner-2.png");
    }
}
.product-details {
    padding-top: 88px;
    h2 {
        font: normal normal 500 42px/63px Roboto;
    }
    h3 {
        font: normal normal normal 32px/48px "Noto Sans";
    }
}

.product-item-list-4r {
    @include product-item-list(4, 24px, 36px, 164px, 104px);
}

.product-item-list-3r {
    @include product-item-list(3, 18px, 30px, 224px, 112px);
    // disalbe row-btw-center
    .row-btw-center {
        flex-direction: column;
        align-items: start;
    }
} 

/* ------ for tablet ----- */
@media screen and (max-width: 992px) {

    /* product details */
    .product-tabs {
        font: normal normal 500 28px/42px Roboto;
        font-variant-caps: all-petite-caps;

        li {
            padding: 16px auto;
            &.selected {
                border-bottom: 8px solid $primary-theme-color;
            }
        }
    }
    .product-details {
        padding-top: 40px;
        h2 {
            font-size: 32px;
            line-height: 48px;
        }
        h3 {
            font-size: 24px;
            line-height: 36px;
        }
        .price, .name {
            font-size: 24px;
            line-height: 30px;
        }
    }

    .product-item-list-4r, .product-item-list-3r {
        @include wrap-n-column(2, 30, 690);
        li {
            margin-bottom: 72px;
        }
    }

    .product-item-list-3r {
        .row-btw-center {
            flex-direction: row;
            align-items: center;
        }
    }
}

/* for smartphone */
@media screen and (max-width: 768px) {

    /* product details */
    .product-banner {
        height: 144px;
    }

    .product-tabs {
        font: normal normal 500 14px/19px Roboto;
        font-variant-caps: all-petite-caps;

        li {
            padding: 8px auto;
            &.selected {
                border-bottom: 4px solid $primary-theme-color;
            }
        }
    }
    .product-details {
        padding-top: 20px;
        h2 {
            font-size: 20px;
        }
        h3 {
            font-size: 16px;
        }
        .price, .name {
            font-size: 16px;
        }
    }

    .product-item-list-4r, .product-item-list-3r {
        @include wrap-n-column(1, 0, 345);
        li {
            margin-bottom: 32px;
        }
    }


}
