$primary-text-color: #111619;
$primary-gray-color: #555555;
$secondary-text-color: #650300;
$dark-text-color: #ffffff;
$primary-theme-color: #AA0601;
$secondary-background-color: #FBF2F2;
$secondary-gray-color: #DCDCDC;
$supportive-color-brown: #5F3E2D;
$supportive-color-orange: #B75929;

