$black: #111619;
$primary-color-dark: #650300;
$primary-theme-color: #AA0601;
$primary-gray-color: #555555;
$secondary-background-color: #FBF2F2;
$secondary-gray-color: #DCDCDC;
$supportive-color-brown: #5F3E2D;
$supportive-color-orange: #B75929;


$secondary-text-color: $primary-color-dark;
$primary-text-color: $black;
$dark-text-color: #ffffff;