@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;700;900&display=swap');

$font-family-base: "Roboto", "Noto Sans", "Helvetica Neue", Arial, sans-serif;

// ============================================
// Colors
// ============================================
$black: #111619;
$primary-color-dark: #650300;
$primary-theme-color: #AA0601;
$primary-gray-color: #555555;
$secondary-background-color: #FBF2F2;
$secondary-gray-color: #DCDCDC;
$supportive-color-brown: #5F3E2D;
$supportive-color-orange: #B75929;


$secondary-text-color: $primary-color-dark;
$primary-text-color: $black;
$dark-text-color: #ffffff;


// ============================================
// Font sizes 
// ============================================
$font-size-base: 1rem; //16px

$font-size-sm: $font-size-base * 0.875; //14px

$h1-font-size: $font-size-base * 4; //64px
$h2-font-size: $font-size-base * 3; //48px
$h3-font-size: $font-size-base * 1.75; //28px
$h4-font-size: $font-size-base * 1.5; //24px
$h5-font-size: $font-size-base * 1.25; //20px
$h6-font-size: $font-size-base; //16px

$line-height-base: 1.5;
$line-height-heading: 1.2;
